@import "lib/normalize";
$saison-gray: #666;
$saison-black: #171717;
$saison-lightgray: #FCFCFC;
$xl: 1600px;
$lg: 1366px;
$md: 1024px;
@font-face {
  font-family: 'gza';
  src: url("assets/fonts/GzaRegular-Web.woff2") format('woff2'), url("assets/fonts/GzaRegular-Web.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

html {}

.highlight {
  color: $saison-black;
}

body {
  background: white;
  color: $saison-gray;
  font-family: minion-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  @media(min-width: $md) {
    font-size: 17px;
  }
  @media(min-width: $lg) {
    font-size: 18px;
  }
  @media(min-width: $xl) {
    font-size: 20px;
  }
  line-height: 1.35;

  .main {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media(min-width: $md) {
      align-items: flex-start;
      display: grid;
      grid-template-columns: 1fr 480px;
    }
    @media(min-width: $lg) {
      grid-template-columns: 1fr 560px;
    }
    @media(min-width: $xl) {
      grid-template-columns: 1fr 620px;
    }

    .logo {
      @media(min-width: $md) {
        position: sticky;
        top: 0;
        height: 100vh;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        margin: 0;
      }
      .logo__text {
        font-size: 0;
        width: 1px;
        height: 1px;
        display: inline-block;
        overflow: hidden;
        position: absolute!important;
        border: 0!important;
        padding: 0!important !important;
        margin: 0!important !important;
        clip: rect(1px,1px,1px,1px);
      }

      .logo__graphic {
        width: 80%;
        max-width: 250px;
        margin: 1.25em auto 1em auto;
        display: block;
        @media(min-width: $md) {
          height: 82.5vh;
          width: auto;
          margin: 0;
          max-width: 100%;
        }

        &.logo__graphic--mobile {
          @media(min-width: $md) {
            display: none;
          }
        }

        &.logo__graphic--desktop {
          display: none;
          @media(min-width: $md) {
            display: block;
          }
        }
      }
    }

    .content {
      padding: 0 1.5em 1.5em;
      //border-top: 1px solid #E0E0E0;
      max-width: 440px;
      @media(min-width: $md) {
        min-height: calc(100vh - 6em);
        max-width: 100%;
        padding: 3em;
        border-left: 1px solid #E0E0E0;
      }

      .content__block {
        margin-bottom: 2.5em;
        @media(min-width: $md) {
          margin-bottom: 2em;
        }
        @media(min-width: $xl) {
          margin-bottom: 2.25em;
        }

        &.content__block--siteby {
          .siteby {
            border-bottom: 0;
            font-size: 0.85em;
            opacity: 0.35;
            transition: opacity 128ms easeout;

            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}

#mc_embed_signup {
  #mc_embed_signup_scroll {
    display: flex;

    .mc-field-group {
      display: flex;

      #mce-EMAIL {
        border-bottom: 1px solid #E0E0E0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        margin-right: 10px;
        outline: 0;
        transition: all 128ms ease-out;
        border-radius: 0;
        padding-left: 0;

        &:focus,
        &:not(:placeholder-shown) {
          border-bottom: 1px solid $saison-black;
        }
      }
    }
  }

  #mc-embedded-subscribe {
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    background: black;
    border: 0;
    color: #fff;
    height: 44px;
    font-family: 'gza',serif;
    font-size: 0.75em;
    padding: 0 15px;
    border-radius: 0;
  }
}

h2 {
  font-family: 'gza',serif;
  color: $saison-black;
  font-size: 1em;
  @media(min-width: $md) {
    font-size: 1.05em;
  }
  max-width: 90%;
  @supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    letter-spacing: -0.05em;
  }
}

p {
  -webkit-font-smoothing: antialiased;

  a {
    color: $saison-black;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid $saison-black;
    transition: all 128ms ease-out;

    &:hover {
      border-bottom: 1px solid $saison-lightgray;
    }
  }
}
